    <div class="footer">
        <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> - Made by: <a href="/"> <img src="images/TeamLogo.png" alt="image of logo" srcset=""></a></p>
    </div>
</body>
</html>