<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catch</title>
    <link rel="stylesheet" href="css/style.css">
    <%- include('partials/bootstrap')  %>
</head>
<body>
    <header>
        <%- include('partials/menu')  %> 
    </header>
    <main>
        <section class="pokemonContainer">
            <h1>Charizard</h1>
            <img id="pokemonImage" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png" alt="image of a pokemon" >
            <input id="pokeballButton" type="image" src="images/pokeball.png" alt="imagePokeball">
        </section>
    </main>
    <%- include('partials/footer')  %>