<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catch</title>
    <%- include('partials/bootstrap')  %>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <%- include('partials/menu')  %> 
    </header>
    <main>
        <section>
            <!-- <article class="pokemon">
                <a href="catchThis"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png" alt=""></a>
                <h1>#6</h1>
                <h2>Charizard</h2>
                <p>Generation I</p>
            </article> -->
            <div class="card" style="width: 18rem;">
                <a href="catchThis"><img class="card-img-top" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png" alt="Card image cap"></a>
                <div class="card-body">
                  <h4>#6</h4>  
                  <h5 class="card-title">Charizard</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Generation I</h6>
                </div>
              </div>
        </section>
    </main>
    <%- include('partials/footer')  %>