<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose a generation</title>
    <script defer src="js/pokeApi.js"></script>
    <script defer src="js/searchBar.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <%- include('partials/bootstrap')  %>
</head>
<body>
    <header>
        <%- include('partials/menu')  %> 
    </header>
    <main id="choseGenContainer">
            <form action="/chooseGeneration" method="post">
                <label for="generations">Kies een generatie:</label>
                <select name="generations" id="generations">
                </select>
                <br>
                <button class="btn btn-outline-dark" type="submit">Bevestig Keuze</button>
            </form>
    </main>
    <%- include('partials/footer')  %>
</body>
</html>