<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Huidige pokémon</title>

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/eigenPokemonExtra.css">
  <%- include('partials/bootstrap')  %>

</head>

<body>
  <header><%- include('partials/menu')  %> </header>
  <main>
    <section id="selectedPokemon">


      <article class="middle">
        <h1>#009 - Blastoise</h1>
        <figure>
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/9.png" alt="">
        
          <figcaption>Type: Water</figcaption>
        </figure>
      </article>
      <article class="switchbuttons">
        <ul>
          <li><button class="buddy"></button>Buddy</li>
          <li><button class="spritesStyle"></button>Sprites</li>
          <li><button class="turnAround"><img src="images/turn-icon.png" alt="fornt back button"></button>Front</li>
        </ul>
      </article>
      <article class="left">
        <p>Bijnaam: Kiryu-Chan</p>
        <button class="newNick"></button>
        <button class="deleteNick"></button>
        <button class="historyNick"></button>

      </article>
    </section>
    <section id="stats">
      <ul> Stats
        <li>Overall 500</li>
        <li>Health 75</li>
        <li>Offence 25</li>
        <li>Defence 40</li>
      </ul>
    </section>
    <section id="evolutionPath">
      <ul>
        <H2>Evolutiepad</H2>
        <li>
          <figure><a href="#"><img
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/7.png" alt="">
              <figcaption>#007  Squirtle</figcaption>
            </a></figure>
        </li>
        <li>
          <figure><a href="#"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/8.png"
                alt="">
              <figcaption>#008  Wartortle</figcaption>
            </a></figure>
        </li>
        <li><a href="#"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/9.png"
              alt="">
            <figcaption>#009  Blastoise</figcaption>
          </a></li>
      </ul>
    </section>
  </main>
  <%- include('partials/footer')  %> 