<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<style>
    #notification {
        background-color: green;
        color: white;
        padding: 10px;
    }
</style>
<% if (locals.notification) { %>
    <p id="notification"><%= notification %></p>
    <script>
        setTimeout(() => {
            window.location.href = '/';
        }, 3000);
    </script>
<% } %>
    <div class="container-split">
            What is your name?<br>
            </span>

            <div class="players">
                <% for(let player of players){ %>

                    <a href="/player/<%= player._id %>"><%= player.name %></a>
                <% } %>
            </div>

            <form method="POST" action="/createPlayer">
                <input type="text" name="name" value="RED">
                <button type="submit">Submit</button>
            </form>
        </div>
<% - include("partials/footer") %>
