

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whoIsThatPokemon</title>
    <link rel="stylesheet" href="css/style.css">
    <script defer src="js/pokeApi.js"></script>
    <%- include('partials/bootstrap')  %>
</head>
<body>
    <header>
        <%- include('partials/menu')  %> 
    </header>
    <main>
        <section class="whoPokemonContainer">
        
            

            <section class="whoIsThatConatiner">
                <div id="whoPokemonImageContainer">
                    <img id="loader" src="images/pokeballspin.gif" width="300px" alt="loader img">
                    <img id="whoPokemonImage" src="" alt="Foto van pokemon">
                </div>
    
                
                <p id="whoIsThatPokemonText">Who is <br> That <br> pokemon?</p>
                
            </section>

            
            
            <section class="whoSearchBar">
                <form autocomplete="off" onsubmit="displayPokemonName();return false;"> <!-- https://stackoverflow.com/questions/932653/how-to-prevent-buttons-from-submitting-forms -->
                    <label for="pokemonName"></label>
                    <input type="text" id="pokemonName" name="pokemonName">
                    <!-- <section class="whoSearchBarSection">
                        <p>Charizard</p>
                        <p>Charm</p>
                        <p>Cleffary</p>
                    </section> -->
                </form>
            </section>

            
        </section>
    </main>
    <%- include('partials/footer')  %>
   