<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whoIsThatPokemon</title>
    <link rel="stylesheet" href="css/style.css">
    <%- include('partials/bootstrap')  %>
</head>
<body>
    <header>
        <%- include('partials/menu')  %> 
    </header>
    <main>
        <section class="whoPokemonContainer">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png" alt="">
            <form autocomplete="on">
                <label for="pokemonName"></label>
                <input type="text" id="pokemonName" name="pokemonName">
            </form>
        </section>
    </main>
    <%- include('partials/footer')  %>