body {
    background: url("../images/pokemonField.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Compare page*/

.compareStats {
    border: 5px solid black;
    padding: 1pc;
    width: 350px;
    border-radius: 20px;
    background-color: white;
}

.compareField {
    border-radius: 5px;
    border-color: black;
    padding: 5px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.compareButton {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 35px;
    padding: 10px 20px 10px 20px;
    background-color: black;
    color: white;
    font-weight: bold;
}

.comparecontainer {
    min-height: 100%;
    padding-bottom: 5rem;
}

#compareBody {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#compareBody h1{
    color: white;
}

#compareBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.welcometxt{
    border: 5px solid black;
    background-color: white;
    padding: 1pc;
    border-radius: 20px;
}

.PokemonCompareName {
    font-size: 24px;
    text-transform: uppercase;
}

figure img{
    width: 200px;
}

@media only screen and (max-width:600px) {
    .compareStats {
        border: 2px solid black;
        padding: 1pc;
        width: 250px;
    }
}