*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin: 0 auto;
}

header {grid-area: header;}
nav {grid-area: menu;}
main {grid-area: main;}
aside {grid-area: right;}
footer {grid-area: footer;}

body {
    display: grid;
    grid-template-areas:
    "header header menu"
    "main main main"
    "footer footer footer";
    grid-template-rows: 180px auto 40px;
    margin: 0;
    min-height: 100vh;
  }