body {
    background: url("../images/teamrocketbg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
 section {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    background-color: white
} 

.poke{
    
    width: 1747px;
    height: 500px;
}
.mainhome {
    grid-area: main;
    padding: 0rem 0rem 1rem 0rem;
    /* margin-bottom: 50%;*/
    width: auto;
}
.headerofpokedex
{
    background-color: red;
    text-align: center;
    text-decoration: overline;
    color: white;
}

button{
    border: 2px soliid black;
    border-radius: 20px;
    padding: 10px
}
.knop{
    font-size: 14pt;
}


@media only screen and (max-width:600px) {
    section {
        flex-direction: column;
    }
}